In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('WA_Fn-UseC_-Telco-Customer-Churn.csv')

In [3]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [5]:
for column in df.columns:
    is_string = df[column].apply(lambda x: isinstance(x,str))
    string_count = is_string.sum()
    print(f"Column '{column}':")
    print(f" - Contains string data: {is_string.any()}")
    print(f" - Number of string records: {string_count}\n")

Column 'customerID':
 - Contains string data: True
 - Number of string records: 7043

Column 'gender':
 - Contains string data: True
 - Number of string records: 7043

Column 'SeniorCitizen':
 - Contains string data: False
 - Number of string records: 0

Column 'Partner':
 - Contains string data: True
 - Number of string records: 7043

Column 'Dependents':
 - Contains string data: True
 - Number of string records: 7043

Column 'tenure':
 - Contains string data: False
 - Number of string records: 0

Column 'PhoneService':
 - Contains string data: True
 - Number of string records: 7043

Column 'MultipleLines':
 - Contains string data: True
 - Number of string records: 7043

Column 'InternetService':
 - Contains string data: True
 - Number of string records: 7043

Column 'OnlineSecurity':
 - Contains string data: True
 - Number of string records: 7043

Column 'OnlineBackup':
 - Contains string data: True
 - Number of string records: 7043

Column 'DeviceProtection':
 - Contains string data: True
 - Number of string records: 7043

Column 'TechSupport':
 - Contains string data: True
 - Number of string records: 7043

Column 'StreamingTV':
 - Contains string data: True
 - Number of string records: 7043

Column 'StreamingMovies':
 - Contains string data: True
 - Number of string records: 7043

Column 'Contract':
 - Contains string data: True
 - Number of string records: 7043

Column 'PaperlessBilling':
 - Contains string data: True
 - Number of string records: 7043

Column 'PaymentMethod':
 - Contains string data: True
 - Number of string records: 7043

Column 'MonthlyCharges':
 - Contains string data: False
 - Number of string records: 0

Column 'TotalCharges':
 - Contains string data: True
 - Number of string records: 7043

Column 'Churn':
 - Contains string data: True
 - Number of string records: 7043

In [6]:
df['Churn'].replace({'Yes':1, 'No':0},inplace=True)

In [7]:
df['Churn']

0       0
1       0
2       1
3       0
4       1
       ..
7038    0
7039    0
7040    0
7041    1
7042    0
Name: Churn, Length: 7043, dtype: int64

In [8]:
df.isnull().any().sum()

0

In [9]:
for column in df.columns:
    is_string = df[column].apply(lambda x: isinstance(x,str))
    string_count = is_string.sum()
    print(f"Column '{column}':")
    print(f" - Contains string data: {is_string.any()}")
    print(f" - Number of string records: {string_count}\n")

Column 'customerID':
 - Contains string data: True
 - Number of string records: 7043

Column 'gender':
 - Contains string data: True
 - Number of string records: 7043

Column 'SeniorCitizen':
 - Contains string data: False
 - Number of string records: 0

Column 'Partner':
 - Contains string data: True
 - Number of string records: 7043

Column 'Dependents':
 - Contains string data: True
 - Number of string records: 7043

Column 'tenure':
 - Contains string data: False
 - Number of string records: 0

Column 'PhoneService':
 - Contains string data: True
 - Number of string records: 7043

Column 'MultipleLines':
 - Contains string data: True
 - Number of string records: 7043

Column 'InternetService':
 - Contains string data: True
 - Number of string records: 7043

Column 'OnlineSecurity':
 - Contains string data: True
 - Number of string records: 7043

Column 'OnlineBackup':
 - Contains string data: True
 - Number of string records: 7043

Column 'DeviceProtection':
 - Contains string data: True
 - Number of string records: 7043

Column 'TechSupport':
 - Contains string data: True
 - Number of string records: 7043

Column 'StreamingTV':
 - Contains string data: True
 - Number of string records: 7043

Column 'StreamingMovies':
 - Contains string data: True
 - Number of string records: 7043

Column 'Contract':
 - Contains string data: True
 - Number of string records: 7043

Column 'PaperlessBilling':
 - Contains string data: True
 - Number of string records: 7043

Column 'PaymentMethod':
 - Contains string data: True
 - Number of string records: 7043

Column 'MonthlyCharges':
 - Contains string data: False
 - Number of string records: 0

Column 'TotalCharges':
 - Contains string data: True
 - Number of string records: 7043

Column 'Churn':
 - Contains string data: False
 - Number of string records: 0

In [10]:
df.drop('customerID', axis=1, inplace=True)

In [11]:
df["TotalCharges"]=pd.to_numeric(df["TotalCharges"], errors='coerce')

In [12]:
#Checking for any null or nan
df['TotalCharges'].isnull().any().sum()

1

In [13]:
df.dropna(axis=0, inplace=True)

In [14]:
df['TotalCharges'].isnull().any().sum()

0

In [15]:
#to check for max and min
df[['tenure', 'MonthlyCharges']].describe()

            tenure  MonthlyCharges
count  7032.000000     7032.000000
mean     32.421786       64.798208
std      24.545260       30.085974
min       1.000000       18.250000
25%       9.000000       35.587500
50%      29.000000       70.350000
75%      55.000000       89.862500
max      72.000000      118.750000

In [16]:
selected_columns = df[['tenure', 'TotalCharges', 'Churn']]
selected_columns.corr()

                tenure  TotalCharges     Churn
tenure        1.000000      0.825880 -0.354049
TotalCharges  0.825880      1.000000 -0.199484
Churn        -0.354049     -0.199484  1.000000

In [17]:
df = pd.get_dummies(df, dtype=int)

In [18]:
df.head()

,SeniorCitizen,tenure,MonthlyCharges,TotalCharges,Churn,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,...,StreamingMovies_Yes,Contract_Month-to-month,Contract_One year,Contract_Two year,PaperlessBilling_No,PaperlessBilling_Yes,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,0,1,29.85,29.85,0,1,0,0,1,1,...,0,1,0,0,0,1,0,0,1,0
1,0,34,56.95,1889.50,0,0,1,1,0,1,...,0,0,1,0,1,0,0,0,0,1
2,0,2,53.85,108.15,1,0,1,1,0,1,...,0,1,0,0,0,1,0,0,0,1
3,0,45,42.30,1840.75,0,0,1,1,0,1,...,0,0,1,0,1,0,1,0,0,0
4,0,2,70.70,151.65,1,1,0,1,0,1,...,0,1,0,0,0,1,0,0,1,0

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7032 entries, 0 to 7042
Data columns (total 46 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   SeniorCitizen                            7032 non-null   int64
 1   tenure                                   7032 non-null   int64
 2   MonthlyCharges                           7032 non-null   float64
 3   TotalCharges                             7032 non-null   float64
 4   Churn                                    7032 non-null   int64
 5   gender_Female                            7032 non-null   int32
 6   gender_Male                              7032 non-null   int32
 7   Partner_No                               7032 non-null   int32
 8   Partner_Yes                              7032 non-null   int32
 9   Dependents_No                            7032 non-null   int32
 10  Dependents_Yes                           7032 non-null   int32
 11  PhoneService_No                          7032 non-null   int32
 12  PhoneService_Yes                         7032 non-null   int32
 13  MultipleLines_No                         7032 non-null   int32
 14  MultipleLines_No phone service           7032 non-null   int32
 15  MultipleLines_Yes                        7032 non-null   int32
 16  InternetService_DSL                      7032 non-null   int32
 17  InternetService_Fiber optic              7032 non-null   int32
 18  InternetService_No                       7032 non-null   int32
 19  OnlineSecurity_No                        7032 non-null   int32
 20  OnlineSecurity_No internet service       7032 non-null   int32
 21  OnlineSecurity_Yes                       7032 non-null   int32
 22  OnlineBackup_No                          7032 non-null   int32
 23  OnlineBackup_No internet service         7032 non-null   int32
 24  OnlineBackup_Yes                         7032 non-null   int32
 25  DeviceProtection_No                      7032 non-null   int32
 26  DeviceProtection_No internet service     7032 non-null   int32
 27  DeviceProtection_Yes                     7032 non-null   int32
 28  TechSupport_No                           7032 non-null   int32
 29  TechSupport_No internet service          7032 non-null   int32
 30  TechSupport_Yes                          7032 non-null   int32
 31  StreamingTV_No                           7032 non-null   int32
 32  StreamingTV_No internet service          7032 non-null   int32
 33  StreamingTV_Yes                          7032 non-null   int32
 34  StreamingMovies_No                       7032 non-null   int32
 35  StreamingMovies_No internet service      7032 non-null   int32
 36  StreamingMovies_Yes                      7032 non-null   int32
 37  Contract_Month-to-month                  7032 non-null   int32
 38  Contract_One year                        7032 non-null   int32
 39  Contract_Two year                        7032 non-null   int32
 40  PaperlessBilling_No                      7032 non-null   int32
 41  PaperlessBilling_Yes                     7032 non-null   int32
 42  PaymentMethod_Bank transfer (automatic)  7032 non-null   int32
 43  PaymentMethod_Credit card (automatic)    7032 non-null   int32
 44  PaymentMethod_Electronic check           7032 non-null   int32
 45  PaymentMethod_Mailed check               7032 non-null   int32
dtypes: float64(2), int32(41), int64(3)
memory usage: 1.4 MB

In [19]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from xgboost import XGBClassifier

In [20]:
x = df.drop('Churn', axis=1)
y = df['Churn']

In [21]:
x_train, x_test, y_train, y_test = train_test_split(x,y)

In [22]:
model_evaluate = pd.DataFrame(columns=['Score'])

In [23]:
rf = RandomForestClassifier()
rf.fit(x_train, y_train)
ypred = rf.predict(x_test)

In [24]:
log = LogisticRegression()
log.fit(x_train, y_train)
ypred_log = log.predict(x_test)

In [25]:
xg = XGBClassifier()
xg.fit(x_train, y_train)
ypred_xg = xg.predict(x_test)

In [26]:
model_evaluate.loc['Random Forest', 'Score'] = accuracy_score(ypred, y_test)
model_evaluate.loc['Logistic', 'Score'] = accuracy_score(ypred_log, y_test)
model_evaluate.loc['XGBoost', 'Score'] = accuracy_score(ypred_xg, y_test)

model_evaluate

In [27]:
import joblib
joblib.dump(log, "model")

['model']

In [28]:
rf.feature_importances_

array([0.02018886, 0.13749378, 0.13961064, 0.16074773, 0.01809391,
       0.01815437, 0.01497926, 0.01497122, 0.01294533, 0.01282423,
       0.00308709, 0.00312054, 0.01366831, 0.00269326, 0.01363254,
       0.01157702, 0.02132873, 0.00159021, 0.03090003, 0.00277131,
       0.01176714, 0.01673025, 0.00320515, 0.01293769, 0.0173008 ,
       0.00196763, 0.01206477, 0.02834402, 0.00296464, 0.01053397,
       0.0111523 , 0.00261904, 0.01207536, 0.01280276, 0.00185786,
       0.01197888, 0.04876675, 0.0115608 , 0.0173183 , 0.01512154,
       0.01489969, 0.01245817, 0.01337706, 0.03013669, 0.01168039])

In [29]:
weights = pd.DataFrame(rf.feature_importances_, index=x.columns.values)

In [30]:
weights

                                                0
SeniorCitizen                            0.020189
tenure                                   0.137494
MonthlyCharges                           0.139611
TotalCharges                             0.160748
gender_Female                            0.018094
gender_Male                              0.018154
Partner_No                               0.014979
Partner_Yes                              0.014971
Dependents_No                            0.012945
Dependents_Yes                           0.012824
PhoneService_No                          0.003087
PhoneService_Yes                         0.003121
MultipleLines_No                         0.013668
MultipleLines_No phone service           0.002693
MultipleLines_Yes                        0.013633
InternetService_DSL                      0.011577
InternetService_Fiber optic              0.021329
InternetService_No                       0.001590
OnlineSecurity_No                        0.030900
OnlineSecurity_No internet service       0.002771
OnlineSecurity_Yes                       0.011767
OnlineBackup_No                          0.016730
OnlineBackup_No internet service         0.003205
OnlineBackup_Yes                         0.012938
DeviceProtection_No                      0.017301
DeviceProtection_No internet service     0.001968
DeviceProtection_Yes                     0.012065
TechSupport_No                           0.028344
TechSupport_No internet service          0.002965
TechSupport_Yes                          0.010534
StreamingTV_No                           0.011152
StreamingTV_No internet service          0.002619
StreamingTV_Yes                          0.012075
StreamingMovies_No                       0.012803
StreamingMovies_No internet service      0.001858
StreamingMovies_Yes                      0.011979
Contract_Month-to-month                  0.048767
Contract_One year                        0.011561
Contract_Two year                        0.017318
PaperlessBilling_No                      0.015122
PaperlessBilling_Yes                     0.014900
PaymentMethod_Bank transfer (automatic)  0.012458
PaymentMethod_Credit card (automatic)    0.013377
PaymentMethod_Electronic check           0.030137
PaymentMethod_Mailed check               0.011680

In [31]:
model_evaluate

                  Score
Random Forest  0.802048
Logistic       0.829352
XGBoost        0.797497